html{
    background-color: rgb(255, 174, 0);
}
.container{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:rgb(204, 204, 204);
    height: 500px;
    width: 380px;
    border-radius: 10px;
    font-size: 7px;
}
.container2{
    height: 391px;
    background-color:rgb(251, 251, 251);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
input {
    margin-top: 30px;
    margin-left: 8px;
    height: 30px;
    width: 7rem;
    margin-bottom: 10px;
}
#tela{
    text-align: center;
    border-radius: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    height: 75px;
    width: 270px;
    background-color:grey;
}
#telah1{
    padding: 15px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.coluna{
    margin-top: 30px;
}
button{
    margin-left: 8px;
    height: 7rem;
    width: 8rem;
    font-size: 60px;
    background-color: lightgrey;
    border-radius: 10px;
    border-color: white;
}